@{
    ViewData["Title"] = "Profile";
}
<h2>@ViewData["Title"]</h2>

@*Render only if user has changeable password*@
@if ((bool)ViewData["HasPassword"])
{
    <form class="col s12 compactForm" id="passwordChangeForm" action="/Profile/ChangePassword" method="post" onsubmit="return changePassword()">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Current Password" name="currentPassword" id="currentPassword" type="password" required>
                <label for="password">Current Password</label>
            </div>
            <div class="input-field col s6">
                <input id="newPassword" type="password" placeholder="New password" required>
                <label for="newPassword">New Password</label>
            </div>
            <div class="input-field col s6">
                <input id="newPasswordConfirmation" type="password" placeholder="Repeat password" required>
                <label for="newPasswordConfirmation">Repeat New Password</label>
            </div>
        </div>
        <button style="width:60%; margin-bottom:10px" class="waves-effect waves-light btn" type="submit">Submit</button>
    </form>
}

<form class="col s12 compactForm" id="OAuthChangeForm" action="/Profile/ChangeOAuth" method="post">
    <div class="row">
        <button type="submit" @((bool)ViewData["CanUnlinkGoogle"] ? "" : "disabled") class="loginButton waves-effect waves-light btn" name="submit" value="google"><img class="logginButtonIcon" src="~/images/google.svg" /> @((bool)ViewData["GoogleLinked"]? "Unlink Google": "Link Google")</button>
        <button type="submit" @((bool)ViewData["CanUnlinkGithub"] ? "" : "disabled") class="loginButton waves-effect waves-light btn" name="submit" value="github"><img class="logginButtonIcon" src="~/images/github.svg" />@((bool)ViewData["RedditGithub"] ? "Unlink Github": "Link Github")</button>
        <button type="submit" @((bool)ViewData["CanUnlinkReddit"] ? "" : "disabled") class="loginButton waves-effect waves-light btn" name="submit" value="reddit"><img class="logginButtonIcon" src="~/images/reddit.svg" />@((bool)ViewData["RedditLinked"]? "Unlink Reddit":"Link Reddit")</button>
    </div>
</form>

<script>
    function changePassword() {
        if (document.getElementById("newPassword").value != document.getElementById("newPasswordConfirmation").value) {
            M.toast({ html: "Passwords do not match!", classes: "red" });
            return false;
        }
    }</script>
